html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding:0;
  margin: 0;
  
}
.wrapper {
    display: flex;
    width: 400px;
    flex-flow: column nowrap;
    background-color: black;
    color: white;
    border: 3px double black;
    margin: 50% auto;
}
.screen{
    color: white;
    font-size: 40px;
    text-align:right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    flex-basis: 20%;
}
.calc-button {
    flex-basis: 80%;
}
.calc-button-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button{
    background-color: #d8d9db;
    color:black;
    height:100px;
    flex-basis:24.5%;
    border:none;
    border-radius: 0;
    cursor: pointer;
    font-size: 40px;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.calc-button:active{
    background-color:#bbbcbe;
}
.calc-button:last-child{
   background-color:#df974c;
   color:white;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}
.calc-button:last-child:active{
    background-color: #dd8d37;
}
.calc-button .double{
    width: 0 auto;
    flex-basis: 49.7%;
}
.calc-button .triple{
    width: 0 auto;
    flex-basis:74.8%;
}
.calc-button-row:last-child{
    padding-bottom: 0;
}
